
  /*Body background*/
body {
    background-color: lightgrey !important;
}


.navbar {
    max-height: 50px;
    background-color: white
    font-size: 25px;
}

.navigation .navbar-brand {
    margin-left: 0px;
    padding: inherit;
    font-weight: bold;
    color: white !important;
    background-color: rgb(20, 150, 150) !important;
    border-radius: 3px;
  }

  a:hover {
    background-color: lightgrey;
  }

  /* Header stylings */
  h1 {
    padding: 50px;
    margin: 0;
    color:rgb(20, 150, 150);
    font-weight: bold;
  }

  h2 {
    margin: 0;
    color:rgb(20, 150, 150);
    font-weight: bold;
  }

  /*content styling*/
  .container {
    margin-top: 50px;  
    padding-top: 40px;
    padding-bottom: 50px;
    overflow: hidden;
    background-color: white;
  }

  .sidebar {
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 10px 30px 10px;
    color: #ffffff;
    background-color: rgb(255, 255, 255);
  }

/*Footer styling*/
.footer{
  position: fixed;
  margin-top: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}