
  /*Body background*/
body {
    background-color: grey !important;
}


.navbar {
    max-height: 50px;
    background-color: white
    font-size: 25px;
}

.navigation .navbar-brand {
    margin-left: 0px;
    padding: inherit;
    font-weight: bold;
    color: white !important;
    background-color: rgb(20, 150, 150) !important;
    border-radius: 3px;
  }

  /* Header stylings */
  h1 {
    padding: 50px;
    margin: 0;
    color:rgb(20, 150, 150);
    font-weight: bold;
  }

  h2 {
    margin: 0;
    color:rgb(20, 150, 150);
    font-weight: bold;
  }

  /*content styling*/
  .container {
      padding-top: 50px;
      padding-bottom: 75px;
      overflow: hidden;
      background-color: white;
  }